
@font-face {
  font-family: 'Cairo';
  src: local('Cairo'), url(./fonts/Cairo.ttf) format('truetype');
}
* {
  font-family: 'Cairo', sans-serif;
}
#tableStyle {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#tableHead {
  background-color: #f2f2f2
}
#cardBorder {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
#reportButton {
  background-color: #e30613;
  color: white
}
#cardMediaImage {
  width: "100px";
  height: "100px";
  margin: "auto";
}
#addressBox {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#languageButton {
  background-color: transparent;
  color: #e30613;
  font-weight: bold;
}
#cellStyle {
  font-size: 1em;
  font-weight: bold;
}
#labelStyle {
  color: grey;
  font-size: 1em;
}
#statusTextStyle {
  font-size: 1em;
  font-weight: bold;
}